*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

}

.container{

    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
}

.container h2{
    padding: 20px;
}

.container .quoteBtn{
    background-color: brown;
    border: 1px solid;
    border-radius: 7px;
    padding: 5px;
    margin-top: 20px;
    outline: none;
}

blockquote{
    border: 2px solid brown;
    margin: 2px;
    border-left: 13px solid brown;
}